In [2]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv('city_ranking.csv')
df.head()

,city,country,Employment Score,Startup Score,Tourism Score,Housing Score,Food Ranking,Transport Score,Health Rank,Internet Speed Score,University Score,Access to Contraceptive Score,Gender Equality Score,Immigration Tolerence,Personal Freedom and Choice,LGBT friendly Score,Nightlife Score,Beer Ranking,Festival Ranking,Total
0,Berlin,Germany,4.8,9.0,6.2,5.2,7.2,7.1,3.9,5.0,4.9,6.9,7.5,8.4,7.8,9.7,10.0,7.0,8.0,7.14
1,Montréal,Canada,6.0,8.1,5.7,6.4,5.1,3.6,7.4,5.1,5.8,8.6,7.0,9.9,8.1,9.6,8.8,5.1,9.0,7.10
2,London,United Kingdom,6.6,9.8,9.8,0.5,2.2,7.2,4.4,4.7,10.0,9.5,7.1,8.7,9.6,9.4,9.4,2.5,7.5,6.71
3,Amsterdam,Netherlands,7.6,8.3,8.7,0.6,1.7,5.7,6.9,4.5,5.0,7.9,5.5,8.5,10.0,9.9,8.6,4.8,9.7,6.63
4,Toronto,Canada,6.3,9.5,4.4,2.7,6.1,4.3,7.4,7.1,5.2,8.6,7.0,9.9,9.4,9.8,4.5,3.6,9.4,6.60

In [61]:
group_country = df.groupby(['country'])

In [62]:
cities_of_a_country=group_country.get_group("Germany")

In [63]:
cities_of_a_country=cities_of_a_country.drop("country",1)

In [64]:
cities_of_a_country

,city,Employment Score,Startup Score,Tourism Score,Housing Score,Food Ranking,Transport Score,Health Rank,Internet Speed Score,University Score,Access to Contraceptive Score,Gender Equality Score,Immigration Tolerence,Personal Freedom and Choice,LGBT friendly Score,Nightlife Score,Beer Ranking,Festival Ranking,Total
0,Berlin,4.8,9.0,6.2,5.2,7.2,7.1,3.9,5.0,4.9,6.9,7.5,8.4,7.8,9.7,10.0,7.0,8.0,7.14
8,Cologne,1.8,3.4,6.1,6.8,6.6,6.3,3.9,6.0,1.0,6.9,7.5,8.4,6.3,9.4,9.5,6.3,6.6,6.17
10,Hamburg,8.7,5.0,0.8,4.6,4.2,3.2,3.9,4.0,1.0,6.9,7.5,8.4,6.3,6.5,9.3,6.3,6.6,6.10
16,Munich,2.8,8.6,4.9,1.7,4.7,6.1,3.9,8.1,5.4,6.9,7.5,8.4,6.3,9.2,8.2,6.3,5.3,5.87
30,Frankfurt,9.0,2.8,3.8,2.6,3.3,3.0,3.9,3.7,1.0,6.9,7.5,8.4,6.3,7.9,7.6,5.5,2.8,5.58

In [65]:
categoryTable = cities_of_a_country.set_index(cities_of_a_country['city']).drop('city',1).drop('Total',1)

In [66]:
categoryTable

,Employment Score,Startup Score,Tourism Score,Housing Score,Food Ranking,Transport Score,Health Rank,Internet Speed Score,University Score,Access to Contraceptive Score,Gender Equality Score,Immigration Tolerence,Personal Freedom and Choice,LGBT friendly Score,Nightlife Score,Beer Ranking,Festival Ranking
city,,,,,,,,,,,,,,,,,
Berlin,4.8,9.0,6.2,5.2,7.2,7.1,3.9,5.0,4.9,6.9,7.5,8.4,7.8,9.7,10.0,7.0,8.0
Cologne,1.8,3.4,6.1,6.8,6.6,6.3,3.9,6.0,1.0,6.9,7.5,8.4,6.3,9.4,9.5,6.3,6.6
Hamburg,8.7,5.0,0.8,4.6,4.2,3.2,3.9,4.0,1.0,6.9,7.5,8.4,6.3,6.5,9.3,6.3,6.6
Munich,2.8,8.6,4.9,1.7,4.7,6.1,3.9,8.1,5.4,6.9,7.5,8.4,6.3,9.2,8.2,6.3,5.3
Frankfurt,9.0,2.8,3.8,2.6,3.3,3.0,3.9,3.7,1.0,6.9,7.5,8.4,6.3,7.9,7.6,5.5,2.8

In [67]:
fetures=categoryTable.columns
len(fetures)

17

In [68]:
user_pref=[]
print("give the ratiing: ")
for i in fetures:
    print(i+ ":")
    user_pref.append(float(input()))
    
user_pref

give the ratiing:
Employment Score:
6
Startup Score:
4.8
Tourism Score:
9
Housing Score:
5
Food Ranking:
7
Transport Score:
6
Health Rank:
8
Internet Speed Score:
4
University Score:
6
Access to Contraceptive Score:
8
Gender Equality Score:
5
Immigration Tolerence:
6
Personal Freedom and Choice:
9
LGBT friendly Score:
10
Nightlife Score:
10
Beer Ranking:
9
Festival Ranking:
9

[6.0,
 4.8,
 9.0,
 5.0,
 7.0,
 6.0,
 8.0,
 4.0,
 6.0,
 8.0,
 5.0,
 6.0,
 9.0,
 10.0,
 10.0,
 9.0,
 9.0]

In [69]:
user_pref1=pd.DataFrame([user_pref],columns=fetures)

In [70]:
user_pref1

,Employment Score,Startup Score,Tourism Score,Housing Score,Food Ranking,Transport Score,Health Rank,Internet Speed Score,University Score,Access to Contraceptive Score,Gender Equality Score,Immigration Tolerence,Personal Freedom and Choice,LGBT friendly Score,Nightlife Score,Beer Ranking,Festival Ranking
0,6.0,4.8,9.0,5.0,7.0,6.0,8.0,4.0,6.0,8.0,5.0,6.0,9.0,10.0,10.0,9.0,9.0

In [71]:
userProfile = user_pref1.transpose()
userProfile

                                  0
Employment Score                6.0
Startup Score                   4.8
Tourism Score                   9.0
Housing Score                   5.0
Food Ranking                    7.0
Transport Score                 6.0
Health Rank                     8.0
Internet Speed Score            4.0
University Score                6.0
Access to Contraceptive Score   8.0
Gender Equality Score           5.0
Immigration Tolerence           6.0
Personal Freedom and Choice     9.0
LGBT friendly Score            10.0
Nightlife Score                10.0
Beer Ranking                    9.0
Festival Ranking                9.0

In [74]:
userProfile=userProfile.sum(axis=1)
userProfile

Employment Score                  6.0
Startup Score                     4.8
Tourism Score                     9.0
Housing Score                     5.0
Food Ranking                      7.0
Transport Score                   6.0
Health Rank                       8.0
Internet Speed Score              4.0
University Score                  6.0
Access to Contraceptive Score     8.0
Gender Equality Score             5.0
Immigration Tolerence             6.0
Personal Freedom and Choice       9.0
LGBT friendly Score              10.0
Nightlife Score                  10.0
Beer Ranking                      9.0
Festival Ranking                  9.0
dtype: float64

In [75]:
recommendationTable_df = ((categoryTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

city
Berlin       7.165025
Cologne      6.289984
Hamburg      5.600164
Munich       6.193596
Frankfurt    5.231856
dtype: float64

In [77]:
recommendationTable_df=recommendationTable_df.sort_values(ascending=False)
recommendationTable_df

city
Berlin       7.165025
Cologne      6.289984
Munich       6.193596
Hamburg      5.600164
Frankfurt    5.231856
dtype: float64